<%= render "shared/errors", :object => f.object %>
<div class="form_field">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>

<div class="form_field">
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
</div>

<div class="form_field">
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
</div>

<div class="form_field">
  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation %>
</div>
