<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="centered">
      <h1>Small Tweet App</h1>

      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </header>

  <section class="centered">
    <% flash.each do |key, value| %>
      <div class="flash_message_<%= key %>">
        <p><%= value %></p>
      </div>
    <% end %>
    <%= yield %>
  </section>

  <footer>
    <p class="centered">Small Tweet App &copy; 2011 Tomasz Grabowski</p>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</body>
</html>
