<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="centered">
      <h1>Small Tweet App</h1>

      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
      <div class="clear"></div>

      <% if signed_in? %>
        <div class="user_profile">
          <%= render 'shared/user_stats' %>
        </div>
      <% end %>

    </div>
  </header>


  <section class="centered">
    <% flash.each do |key, value| %>
      <div class="flash_message_<%= key %>">
        <p><%= value %></p>
      </div>
    <% end %>
    <%= yield %>
  </section>

  <footer>
    <p class="centered">Small Tweet App &copy; 2011 Tomasz Grabowski</p>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</body>
</html>
